.about {
  padding: 75px 0;
}

.about-items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  max-width: 800px;
  margin: 0 auto;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 180px;
  }
  &__img {
    height: 70px;
  }
  &__text {
    text-align: center;
  }
  @media screen and (min-width: 1440px) {
    max-width: unset;
    gap: 30px;
    &__text {
      font-size: $h4;
    }
  }
}
